.columns {
    border: 1px solid black;
}

.column {
    border: 2px solid blue;
}

.vertical-nav {
    float: right;
    margin-top: 5rem;
}

.vertical-nav li {
    padding-top: 0.5rem;
}

 /* Style the buttons that are used to open and close the accordion panel */
 .accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.2s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    padding: 0 18px;
    transition: max-height 0.2s ease-out;
  }

  .accordion:after {
    color: #777;
    content: '\02795';
    font-size: 13px;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }