.dark-mode {
  background-color: #222;
  color: #fff;
}

#dark-mode-btn {
  border: 1px solid red
}

.vertical-nav {
  /* float: right; */
  margin-top: 5rem;
}

.vertical-nav li {
  padding-top: 0.5rem;
}

.columns {
  padding: 2rem
}

.col1-left,
.col2-center {
  margin-top: 8rem;
}

.col1-left {
  /* overflow-x: auto;
  position: fixed; */
  text-align: right;
  /* width: 25%; */
}

/* .col2-center {
  margin-left: 20rem;
  width: 40%;
} */

.contact-container {
  margin-bottom: 8rem;
}

h1.title,
h3.title,
ul.vertical-nav {
  font-weight: bold;
}

h1.title,
li.sec-about {
  color: #006d5c;
}

h3.title-exp,
li.sec-exp {
  color: #2C4C32;
}

h3.title-contact,
li.sec-contact {
  color: #379C99;
}

li.sec-about:hover,
li.sec-exp:hover,
li.sec-contact:hover {
  text-decoration: underline;
}

.copy {
  color: #9b9b9b
}

tr.no-border td {
  border: 0;
  font-weight: bold;
}



span.dates {
  padding-left: 7rem;
}


  .accordion {
    background-color: white;
    border: none;
    color: #2F3C3B;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    padding: 18px;
    text-align: left;
    transition: 0.2s;
    width: 100%;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .accordion:hover {
    background-color: rgb(235, 235, 235);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    background-color: white;
    box-shadow: none !important;
    max-height: 0;
    overflow: hidden;
    padding: 0 18px;
    transition: max-height 0.1s ease-out;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }

  .panel p {
    border-left: 2px solid #d5d5d5;
    padding-left: 0.75rem;
  }

  .accordion::after {
    content: '\02795';
    font-size: 13px;
    float: right;
    margin-left: 5px;
  }
  
  .active::after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }


  @font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.1') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.6.1') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.6.1') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.6.1') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.6.1#fontawesomeregular') format('svg');
    src: url('../fonts/fontawesome-webfont.eot?v=4.6.1');
}











